{% extends  'base.html' %}

{% block title %}Sign Up {% endblock %}
{% block content %}

<div class ='alert alert-info' role='alert'>
<h3>Sign up Here!!!</h3>
</div>
<hr>               
	<form method = 'post'>
    {% csrf_token %}
    {{ form.as_p }}

    <button class='btn btn-danger btn-lg'>Sign up here: </button>
    
</form>

{% endblock %}
